main{
    padding: 20px 30px;
}

.touche-header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.touche-header nav ul{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.touche-header nav ul li a{
    text-decoration: none;
}